pandas >= 1.1.0
numpy
sphinx == 1.7.9
sklearn #for feature selection
mlxtend #for feature selection

bioservices >= 1.7.11 #for querying knowledge bases
opentargets #for querying OpenTargets
pypath-omnipath #interal pathway representation


lxml #for reading xml from knowledge bases
matplotlib #for visualization
matplotlib_venn #for visualization of ranking overlaps

multiprocess